html {
    background-color:#121212;
    color:#b9b9b9;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: min(5em, 8%);
    padding-top: 0;
}

header {
    border-bottom: 2px solid #999;
    text-align: center;
    padding: 0px 0px 20px;
    margin: auto;
    width: (960px, 70%);
}

article {
    border-bottom: 2px solid #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

footer {
    text-align: center;
	margin: auto;
	clear: both;
    width: min(1000px, 90%);
}

h1 {
    text-align: center;
}

a {text-decoration: none}

a:link {color: #147960;}

a:visited:not(.nav) {color: #115051;}

a:visited.nav {color: #147960;}

a:hover {color: #009285; text-decoration-line: underline;}

a:visited:hover {color: #009285; text-decoration-line: underline;}

a:active {color: #009285; text-decoration-line: underline;}

.res {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
}

.res > div {
    width: 14em;  
}

.lit {
    display: flex;
    flex-direction: column;
}

.lit > div img {
    width: min(250px, 33vw);
    aspect-ratio: 1 / 1.41421356;
    float: left;
    object-fit: cover;
    margin-right: 5vw;
}