html {
    background-color:#121212;
    color:#b9b9b9;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: min(5em, 8%);
}

header {
    border-bottom: 2px solid #999;
    text-align: center;
    padding: 0px 0px 20px;
    margin: auto;
    width: (960px, 70%);
}

header p {
    font-size: 16px;
}

article {
    border-bottom: 2px solid #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}

footer {
    text-align: center;
	margin: auto;
	clear: both;
    width: min(1000px, 90%);
}

h1 {
    color:#b9b9b9;
    text-align: center;
}

p {
    color:#b9b9b9;
    font-size: 20px;
}

a {text-decoration: none}

a:link {color: #147960;}

a:visited:not(.nav) {color: #115051;}

a:visited.nav {color: #147960;}

a:hover {color: #009285;}

a:visited:hover {color: #009285;}

a:active {color: #009285;}
