html {
    background-color:#121212;
    color:#b9b9b9;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0cm 2.5cm 0.5cm 2.5cm;
}

header {
    border-bottom: 2px solid #999;
    text-align: center;
    padding: 20px 30px;
    max-width: 60%;
    margin: auto;
}

header p {
    font-size: 16px;
}

article {
    border-bottom: 2px solid #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}

footer {
    text-align: center;
	max-width: 70%;
	margin: auto;
	clear: both;
}

h1 {
    color:#b9b9b9;
    text-align: center;
}

p {
    color:#b9b9b9;
    font-size: 20px;
}

a:link {
  color: #147960;
}

a:visited {
  color: #115051;
}

a:hover {
  color: #009285;
}

a:active {
  color: #009285;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 0cm 0.5cm 0.5cm 0.5cm
    }
}